<div class="row footer">
    <div class="col-md-12">
        <a class="nav-link-hover" href="https://www.youtube.com/channel/UCmput-lUFDy3xB6BF2hdezA">
            <div id="ytlink">
                <p>
                    <img class="link-icon" id="ytlinkimg" src="{{ base_url }}assets/img/youtubelogo.png" alt="youtube" width="20">
                    Youtube
                </p>
            </div>
        </a>
        <a class="nav-link-hover" href="http://irisv-c.deviantart.com/">
            <div id="dalink">
                <p>
                    <img class="link-icon" id="dalinkimg" src="{{ base_url }}assets/img/deviantartlogo.png" alt="youtube" width="20">
                    DeviantArt
                </p>
            </div>
        </a>
        <a class="nav-link-hover" href="https://www.instagram.com/irisverbert/">
            <div id="instlink">
                <p>
                    <img class="link-icon" id="instlinkimg" src="{{ base_url }}assets/img/instagramlogo.png" alt="youtube" width="20">
                    Instagram
                </p>
            </div>
        </a>
    </div>
</div>
<script src="{{ base_url }}assets/js/main.js"></script>
</body>
</html>