{% include 'header.html.twig' %}
<div class="row content">
    <div class="col-lg-8 col-md-10 col-sm-12 col-centered">
        <form id="imgupload" method="post" enctype="multipart/form-data">
            <ul id="multiform">
                <li class="uploadThis uploadFormPart list-group-item" id="formPart">
                    <input type="file" name="imupload" class="imupload inputField" style="width: 100%">
                    <label class="uploadDesc">Beschrijving:
                        <textarea class="form-control inputField" name="desc" rows="2" cols="50"></textarea>
                    </label>
                    <div class="catDropdown">
                        <label>Categorie:
                            <select name="cat" class="inputField">
                                {% for cat in categories %}
                                    <option value='{{ cat.getName }}'>{{ cat.getName }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="previewDiv">
                        <img src="" class="preview" alt="preview">
                    </div>
                    <label>Video:
                        <input class="videoCB" type="checkbox" value="isVideo">
                    </label>
                    <button class="btn btn-danger removeUpload">Remove</button>
                    <div class="clear"></div>
                    <div id="myProgress">
                        <div id="myBar"></div>
                    </div>
                </li>
            </ul>
            <br>
            <div class="uploadButtons">
                <button id="addUpload" class="btn btn-default">Add Another</button>
                <input type="submit" value="upload" class="submit btn btn-default">
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
<script src="{{ base_url }}assets/js/jq-ajax-progress.min.js"></script>
<script src="{{ base_url }}assets/js/upload.js"></script>
</body>
</html>
